# Byte-compiled / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# PyCharm
.idea/

# PyInstaller
build/
dist/
*.spec

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore all text and csv files
*.txt
*.csv

# But keep requirements.txt
!requirements.txt